/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,400i");
@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Primary Colors */
/* Colors */
/* Backgrounds */
/* Border colors  
*/
/* Fills for SVG */
/* Strokes for SVG */
.component-name {
  font-size: 1rem;
  border-bottom: 1px solid #AAAAAA;
  margin-top: 4em;
  padding-bottom: 1em;
  color: #AAAAAA;
  margin-bottom: 2em; }

.content-break-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  height: 9em; }

:root {
  font-size: 13px; }
  @media screen and (min-width: 576px) {
    :root {
      font-size: 14px; } }
  @media screen and (min-width: 768px) {
    :root {
      font-size: 15px; } }
  @media screen and (min-width: 992px) {
    :root {
      font-size: 16px; } }
  @media screen and (min-width: 1200px) {
    :root {
      font-size: 17px; } }

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 3rem;
  letter-spacing: .03em;
  line-height: 1.1em;
  margin: 0 0 .5em;
  font-weight: 600; }

h2 {
  font-size: 2rem;
  letter-spacing: .03em;
  line-height: 1.2em;
  margin: 0 0 .5em; }

h3 {
  font-size: 1.5rem;
  letter-spacing: .03em;
  line-height: 1.2em;
  margin: 0 0 .5em; }

h4 {
  font-size: 1.3rem;
  letter-spacing: .03em;
  line-height: 1.2em;
  margin: 0 0 .5em; }

p {
  font-size: 1.1rem;
  letter-spacing: .03em;
  line-height: 1.6em;
  margin: 0 0 .5em; }
  @media screen and (min-width: 768px) {
    p {
      font-size: 1rem;
      letter-spacing: .03em;
      line-height: 1.6em; } }

img,
li,
a {
  font-size: 1rem; }

a {
  color: gray; }
  a:hover {
    text-decoration: none; }

hr {
  border: 1px dotted #AAAAAA;
  margin: 4rem; }

.menu-bar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1em;
  background: white; }

.footer {
  height: 100%; }

.profile {
  width: 100%;
  height: 100vh;
  margin-bottom: auto;
  text-align: center;
  color: white;
  background: #441d9c;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (min-width: 576px) {
    .profile {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      background: #ca0679; } }

.profile-details {
  grid-column: 1/2;
  grid-row: 2/3;
  margin: 2em; }
  @media screen and (min-width: 576px) {
    .profile-details {
      grid-column: 1/2;
      grid-row: 1/2;
      margin: 0em 4em;
      text-align: left; } }

.profile-side-image {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  background-image: url("../../images/8.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  @media screen and (min-width: 576px) {
    .profile-side-image {
      grid-column: 2/3;
      grid-row: 1/2; } }

/*# sourceMappingURL=app.css.map */