.profile {
    width: 100%;
    height: 100vh;
    margin-bottom: auto;
    text-align: center;
    color: white;
    background: #441d9c;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    @media screen and (min-width: 576px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        background: #ca0679;
    }
}

.profile-details {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 2em;
    @media screen and (min-width: 576px) {
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 0em 4em;
        text-align: left;
    }
}

.profile-side-image {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    background-image: url("../../images/8.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    @media screen and (min-width: 576px) {
        grid-column: 2/3;
        grid-row: 1/2;
    }
}