.w320-title {
  grid-column    : 1/11;
  grid-row       : 1/2;
  color          : white;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  color          : rgb(57, 57, 57);
  padding        : 0 1rem;
  animation      : appear 1s forwards;

  &__small-text {
    font-size: 0.8rem;
  }

  p {
    margin : 0;
    padding: 0;
  }
  @media (min-width: 480px) {
    animation: vanish 0.5s forwards;
  }
}
// text layer

.w320-infobox1 {
  grid-column    : 1/11;
  grid-row       : 2/6;
  color          : white;
  color          : rgb(57, 57, 57);
  padding        : 0 1rem;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : flex-start;
  animation      : appear 1s forwards;
  @media (min-width: 480px) {
    animation: vanish 0.5s forwards;
  }
}

.w320-infobox2 {
  grid-column    : 1/11;
  grid-row       : 6/10;
  color          : white;
  color          : rgb(57, 57, 57);
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : flex-start;
  padding        : 0 1rem;
  animation      : appear 1s forwards;
  @media (min-width: 480px) {
    animation: vanish 0.5s forwards;
  }
}

.w320-dotted-line {
  grid-column    : 1/11;
  grid-row       : 5/7;
  display        : flex;
  flex-direction : row;
  justify-content: center;
  align-items    : center;
  z-index        : 1;
  padding        : 0 1rem;
  animation      : appear 1s forwards;

  span {
    height: auto;
    width : 100%;

    hr {
      color        : red;
      border-bottom: 1px solid green;
    }
  }
  // Small devices (landscape phones, 576px and up)
  @media (min-width: 480px) {
    animation: vanish 0.5s forwards;
  }
}

.w320-footer-text {
  grid-column     : 1/11;
  grid-row        : 10/11;
  display         : flex;
  align-items     : center;
  padding         : 0 1rem;
  background-color: #393a3e0d;
  animation       : appear 1s forwards;
  @media (min-width: 480px) {
    animation: vanish 0.5s forwards;
  }
}
// test layer
// image layer

.w320-image-holder1 {
  grid-column     : 5/11;
  grid-row        : 2/11;
  background-image: url("../images/mp2.png");
  background-size : cover;
  animation       : appear 1s forwards;
  @media (min-width: 480px) {
    animation: vanish 1s forwards;
  }
}
// image layer
// animation
@keyframes vanish {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}