.w530-title {
  grid-column     : 1/11;
  grid-row        : 1/2;
  color           : white;
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  color           : rgb(57, 57, 57);
  padding         : 0 1rem;
  background-color: blue;
  opacity         : 0;

  &__small-text {
    font-size: 0.8rem;
  }

  p {
    margin : 0;
    padding: 0;
  }
  animation       : vanish 0.2s forwards;
  @media (min-width: 530px) and (max-width:740px) {
    animation: appear 1s forwards;
  }
}

.w530-company-card {
  grid-column     : 3/9;
  grid-row        : 5/8;
  border          : 1px solid yellow;
  background-color: yellow;
  display         : flex;
  justify-content : center;
  align-items     : center;
  text-align      : center;
  animation       : vanish 0.5s forwards;
  @media (min-width: 530px) and (max-width:740px) {
    animation: appear 1s forwards;
  }
}