.main-wrapper {
  width                : auto;
  height               : 100vh;
  margin               : 0;
  display              : grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows   : repeat(10,1fr);
  // grid-auto-rows       : minmax(100px, 60px);
  grid-gap             : 1rem;
  background           : black;
}