.main-wrapper {
  width                : auto;
  height               : 100vh;
  margin               : 0;
  display              : grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows   : repeat(10, 1fr);
  background-color     : rgb(244, 236, 225);
  min-height           : 568px;
}