/* Primary Colors */

$alpha: #ffffff;
$romeo: #f5f6e8;
$viana: #f8c09d;
$indiana: #ef937e;
$november: #ea676c;
$decota: #fff79c;
$seven:#fed883;
$eight:#febe40;
$nine:#ec7523;
$ten:#e3482c;
$eleven:#dc1c4b;
$twelve:#b31e48;
$thirteen:#ee8eb4;
$fourteen:#dd527c;
$fifteen:#dc166d;
$sixteen:#9b1d5a;
$seventeen:#6f1e49;
$eighteen:#dd94c1;
$nineteen:#b557a1;
$twenty:#612d82;

/* Colors */

$navy: #001F3F;
$blue: #0074D9;
$aqua: #7FDBFF;
$teal: #39CCCC;
$olive: #3D9970;
$green: #2ECC40;
$lime: #01FF70;
$yellow: #FFDC00;
$orange: #FF851B;
$red: #FF4136;
$fuchsia: #F012BE;
$purple: #B10DC9;
$maroon: #85144B;
$white: #FFFFFF;
$silver: #DDDDDD;
$gray: #AAAAAA;
$darkgray: #545454;
$black: #111111;

/* Backgrounds */

$bg-navy: #001F3F;
$bg-blue: #0074D9;
$bg-aqua: #7FDBFF;
$bg-teal: #39CCCC;
$bg-olive: #3D9970;
$bg-green: #2ECC40;
$bg-lime: #01FF70;
$bg-yellow: #FFDC00;
$bg-orange: #FF851B;
$bg-red: #FF4136;
$bg-fuchsia: #F012BE;
$bg-purple: #B10DC9;
$bg-maroon: #85144B;
$bg-white: #FFFFFF;
$bg-gray: #AAAAAA;
$bg-silver: #DDDDDD;
$bg-black: #111111;

/* Border colors  
*/

$border--navy: #001F3F;
$border--blue: #0074D9;
$border--aqua: #7FDBFF;
$border--teal: #39CCCC;
$border--olive: #3D9970;
$border--green: #2ECC40;
$border--lime: #01FF70;
$border--yellow: #FFDC00;
$border--orange: #FF851B;
$border--red: #FF4136;
$border--fuchsia: #F012BE;
$border--purple: #B10DC9;
$border--maroon: #85144B;
$border--white: #FFFFFF;
$border--gray: #AAAAAA;
$border--silver: #DDDDDD;
$border--black: #111111;

/* Fills for SVG */

$fill-navy: #001F3F;
$fill-blue: #0074D9;
$fill-aqua: #7FDBFF;
$fill-teal: #39CCCC;
$fill-olive: #3D9970;
$fill-green: #2ECC40;
$fill-lime: #01FF70;
$fill-yellow: #FFDC00;
$fill-orange: #FF851B;
$fill-red: #FF4136;
$fill-fuchsia: #F012BE;
$fill-purple: #B10DC9;
$fill-maroon: #85144B;
$fill-white: #FFFFFF;
$fill-gray: #AAAAAA;
$fill-silver: #DDDDDD;
$fill-black: #111111;

/* Strokes for SVG */

$stroke-navy: #001F3F;
$stroke-blue: #0074D9;
$stroke-aqua: #7FDBFF;
$stroke-teal: #39CCCC;
$stroke-olive: #3D9970;
$stroke-green: #2ECC40;
$stroke-lime: #01FF70;
$stroke-yellow: #FFDC00;
$stroke-orange: #FF851B;
$stroke-red: #FF4136;
$stroke-fuchsia: #F012BE;
$stroke-purple: #B10DC9;
$stroke-maroon: #85144B;
$stroke-white: #FFFFFF;
$stroke-gray: #AAAAAA;
$stroke-silver: #DDDDDD;
$stroke-black: #111111;